<h1 class="center" mat-dialog-title>New Post</h1>
<div mat-dialog-content>
  <form class="example-form" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <input matInput placeholder="Title" type="text" required [(ngModel)]="data.question" name="question">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <textarea matInput placeholder="Description" required [(ngModel)]="data.description" name="description"></textarea>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-select matInput placeholder="Category" required [(ngModel)]="data.topics[0]" name="category">
          <mat-option *ngFor="let topic of topics" [value]="topic.value">
            {{ topic.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button class="center" mat-button (click)="onNoClick()">Cancel</button>
  <button class="center" mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>